

<div class="container welcomepage">

  <div class="row welcome">
    <div class="welcometext col-xs-10 col-xs-offset-1">
          <div class="pull-right">
            <h1>Le premier marché artisanal du village global !</h1>
          </div>
          <div class="pull-right">
            <p class="links"><nobr><%= link_to "View our Categories ", categories_path %> or <%= link_to  "Add a new Product", products_path %></nobr></p>
          </div>
          <div class="pull-left">
             <p>  We currently have <%= pluralize(User.all.size, 'user')%> selling <%= pluralize(Product.all.size, 'amazing product')%> !</p>
          </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">

      </p>
    </div>
  </div>
</div>
