<h1>Pictures index</h1>
  Pictures array is <%= @pictures.size %> long.
  <% @pictures.each do |picture| %>
      <div>
      <%= picture.id %>
    </div>
    <div>
      <%= image_tag picture.s3picture.url(:medium) %>
    </div>
    <div>
      <%= link_to 'Delete', picture_path(picture), method: :delete %>
    </div>
  <% end %>

