// Place all the styles related to the shopping_carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.cart-container {
  width: 80%;
}

.cart-table {
  margin-top: 0px;
}

.checkout-btn {
  margin-top: 30px;
}