// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.welcomepage {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  background-image: url(http://www.maisondequartierlesmoulins.fr/uploads/images/actualites/bourse.jpg  );

  background-repeat : no-repeat;
  background-size: cover;
  background-attachment:fixed;
  background-color : white;
  width: 100%;
  height: 100%;
}

.navbar {
  z-index: 1;
}

.welcome {
  margin-top: 300px;

}

.welcometext{
  z-index: 1;
  background-color: white;
  background:rgba(255,255,255,0.3);
}

.container.credit {
margin: 20px 0;
}

.muted {
color: #999999;
}

p {
margin: 0 0 10px;
}

user agent stylesheetp {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

#footer{
z-index: 1;
position:fixed;
bottom:0;
left:0;
height: 30px;
}



