<%= form_for @category do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>