<h1>Products of <%= @category.name %></h1>


<table>
   <thead>
  <tr>
     <th>Product name</th>
     <th>Price</th>
  </tr>
 </thead>
  <% @products.each do |product| %>
    <tr>
      <td><%= link_to(product.name, product_path(product))%></td>
      <td><%= product.price%> €</td>
    </tr>
  <% end %>
</table>


