<p class="lead">Thanks, your payment of <strong><%= @amount %>€</strong> has been proceeded. You should receive your package soon :)</p>

<%= link_to "Can't have enough shopping ? Go find some more great products", categories_path %>

